body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

/* LOGIN */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #005aa7;
    color: white;
    border: none;
    cursor: pointer;
}

/* HEADER */
header {
    background: #005aa7;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* MAIN */
main {
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #005aa7;
    color: white;
}