<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>EduKlase – Pieslēgšanās</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="login-box">
    <h1>EduKlase</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">
        <input name="username" placeholder="Lietotājvārds" required>
        <input type="password" name="password" placeholder="Parole" required>
        <button>Ienākt</button>
    </form>
    <p>
    Nav konta?
    <a href="/register">Reģistrēties</a>
</p>
    <p class="hint">
        hints:</br>
        anna 1234 (students)</br>
        peter 1234 (students)</br>
        teacher teacher123 (teacher)

    </p>
</div>

</body>
</html>