<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>EduKlase – Saraksts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>EduKlase</h1>
</header>

<main>
    <h2>Stundu saraksts</h2>

    <table>
        <tr>
            <th>Stunda</th>
            <th>Prēdmetu</th>
        </tr>
        <tr><td>1</td><td>Matemātika</td></tr>
        <tr><td>2</td><td>Informatika</td></tr>
        <tr><td>3</td><td>Latviešu valoda</td></tr>
    </table>
</main>

</body>
</html>